<!DOCTYPE>
<html lang="en" dir="ltr">
    <head>
        <mata charset="utf-8">
        <title>Travel App</title>
        <script src="https://kit.fontawesome.com/0964fdc73e.js" crossorigin="anonymous"></script>
        <!-- <link rel="stylesheet" href="../styles/style.css"> -->
    </head>
    <body>
        <header>
            <div id="title">
                Travel App
            </div>
        </header>
        <main>

        </main>
        <footer>

        </footer>
    </body>
</html>